server:
  port: 8060

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/decor_store
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        enable_lazy_load_no_trans: true

  thymeleaf:
    cache: false

  web:
    resources:
      cache:
        period: 0
      chain:
        cache: false

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 587
    username: d78a7dfd4d5ae9
    password: 1183b8526311ce
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.vuminhha.decorstore: DEBUG
