<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"
     th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Decor Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{/home}" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a th:href="@{/shop}" class="nav-link">Cửa hàng</a></li>
                <li class="nav-item"><a th:href="@{/about}" class="nav-link">Về chúng tôi</a></li>
                <li class="nav-item"><a th:href="@{/blog}" class="nav-link">Tin tức</a></li>
                <li class="nav-item"><a th:href="@{/contact}" class="nav-link">Liên hệ</a></li>

                <li class="nav-item cta cta-colored">
                    <a th:href="@{/cart}" class="nav-link">
                        <span class="icon-shopping_cart"></span>
                        <span class="cart-count" th:text="${cartCount != null ? cartCount : 0}">0</span>
                    </a>
                </li>


                <!-- Nếu đã đăng nhập -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown">
                        <span sec:authentication="name">User</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/profile}">Thông tin cá nhân</a>
                        <a class="dropdown-item" th:href="@{/order/history}">Đơn hàng</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Đăng xuất</button>
                        </form>
                    </div>
                </li>

                <!-- Nếu chưa đăng nhập -->
                <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown">Tài khoản</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/register}">Đăng ký</a>
                        <a class="dropdown-item" th:href="@{/login}">Đăng nhập</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>