<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="users/fragments/head :: head"></head>
<body class="goto-here">
<nav th:replace="users/fragments/navbar :: nav"></nav>

<div class="hero-wrap hero-bread" style="background-image: url('/images/banner2.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a th:href="@{/}">Trang chủ</a></span>
                    <span>Giỏ hàng</span>
                </p>
                <h1 class="mb-0 bread">Giỏ hàng</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${cartItems}" class="text-center">
                            <td class="product-remove">
                                <a th:href="@{'/cart/remove/' + ${item.product.id}}"><span>x</span></a>
                            </td>

                            <td class="image-prod">
                                <div class="img"
                                     th:style="'background-image: url(' + @{/uploads/{img}(img=${item.product.image})} + ');'"></div>
                            </td>

                            <td class="product-name">
                                <h3 th:text="${item.product.name}"></h3>
                            </td>

                            <td class="price"
                                th:text="${#numbers.formatInteger(item.product.price, 0, 'POINT')} + ' ₫'"></td>

                            <td class="quantity">
                                <div class="d-flex align-items-center">
                                    <a th:href="@{'/cart/minus/' + ${item.product.id}}" class="btn btn-link px-2">
                                        <i class="ion-ios-remove"></i>
                                    </a>
                                    <input th:value="${item.quantity}" type="number" class="form-control input-number"
                                           readonly>
                                    <a th:href="@{'/cart/plus/' + ${item.product.id}}" class="btn btn-link px-2">
                                        <i class="ion-ios-add"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="total"
                                th:text="${#numbers.formatInteger(item.total, 0, 'POINT')} + ' ₫'"></td>
                        </tr>

                        <tr th:if="${#lists.isEmpty(cartItems)}">
                            <td colspan="6" class="text-center">Không có sản phẩm nào trong giỏ hàng</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:if="${!#lists.isEmpty(cartItems)}" class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Tổng số giỏ hàng</h3>
                    <p class="d-flex">
                        <span>Tổng phụ</span>
                        <span th:text="${#numbers.formatInteger(subTotal, 0, 'POINT')} + ' ₫'"></span>
                    </p>
                    <p class="d-flex">
                        <span>Vận chuyển</span>
                        <span th:text="${#numbers.formatInteger(shipping, 0, 'POINT')} + ' ₫'"></span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Tổng</span>
                        <span th:text="${#numbers.formatInteger(subTotal + shipping, 0, 'POINT')} + ' ₫'"></span>
                    </p>
                </div>
                <p><a th:href="@{/checkout}" class="btn btn-primary py-3 px-4">Thanh toán</a></p>
            </div>
        </div>
    </div>
</section>

<footer th:replace="users/fragments/footer :: footer"></footer>

<div th:replace="users/fragments/script :: script"></div>
</body>
</html>
